<html>
    <head>
        <title><%= Title %></title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div id="cards">
            <% for(var i=0;i<contact.length;i++){ %>
                <div id='each_card'>
                    <p><%= contact[i].date %></p>
                    <p><%= contact[i].message %></p>
                    <p id='workType'><%= contact[i].category %></p>
                    <button>done</button>
                </div>
            <% } %>
        </div>
        <div id="input">
            <form action="">
                <input type="text">
                <input type="text">
                <input type="text">
            </form>
        </div>
    </body>
</html>