<html>
    <head>
        <title><%= Title %></title>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body>
        <div id="cards">
            <% for(var i=0;i<contact.length;i++){ %>
                <div id='each_card'>
                    <p><%= contact[i].date %></p>
                    <p><%= contact[i].message %></p>
                    <p id='workType'><%= contact[i].category %></p>
                    <button>done</button>
                </div>
            <% } %>
        </div>
        <div id="input">
            <form action="addToList" method="POST" >
                <input type="text" name="date">
                <input type="text" name="content">
                <input type="text" name="type">
                <button type="submit">submit</button>
            </form>
        </div>
    </body>
</html>