body{
    background-color:  #171738/* black*/;
    color: #171738;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;

}
#cards{
    display:flex;
    width: 65vw;
    flex-wrap: wrap;
}
#each_card{
    /* display: inline-block; */
    display: flex;
    height: 20rem;
    width: 15rem;
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: #8EF9F3/*yellowgreen*/;
    border: 4px solid #593C8F;
    border-radius: 40px;
    flex-direction: column;
}
#pin{
    height: 26px;
    width: 50px;
    margin-left: 3px;
    margin-top: 6px;
}
#workType{
    display: inline-block;
    height: 1.5rem;
    width: 5.5rem;
    background-color: black;
    padding-top: 3px;
    text-align: center;
    color: white;
    margin-left: 28%;
}
#each_card p{
    text-align: center;
}
#input{
    display: flex;
    margin-top: 12vh;
    margin-left: 66vw;
    height: 50vh;
    width: 27vw;
    color: blanchedalmond;
    position: fixed;
    flex-direction: column;
    text-align: center;
    /* flex-wrap: wrap; */
}
#input input{
    display: block;
    background-color: rgb(232, 240, 254);
    border: none;
    margin: auto;
    padding: 4px;
    text-align: center;
}

#formBox{
    background-color: #FF6392;
    border: 4px solid #fFD9C6;
    border-radius: 40px;
}
#input button{
    display: block;
    margin-top: 35px;
    margin-left: 41%;
    margin-bottom: 20px;
    padding: 4px;
    text-align: center;
    height: 30px;
    width: 72px;
    font-size: 16px;
    background-color: black;
    color: white;
    
}
#category{
    padding: 5px;
    height: 30px;
    width: 140px;
}
#dateLabel{
    margin-top: 16px;
}
#message{
    font-weight: 500;
    padding: 10px;
    font-size: 15px;
    width: 78%;
    height: 51px
}
#deleteIcon{
    height: 20px;
    width: 20px;
    margin-left: 75%;
    margin-top: 5%;
}
#dateInCard{
    height: 20px;
    width: 70%;
    font-weight: 700;
}
#messageInCard{
    height: 90px;
    width: 70%;
    overflow: auto;
}
.pAlign{
    margin-left: 15%;
}
#deleteButton{
    height: 32px;
    width: 100px;
    background-color: #d01f1f;
    margin-left: 25%;
    border-radius: 15px;
}
#dateInCard img{
    height: 20px;
    width: 20px;
    margin-right: 9px;
}